<h1>Dashboard</h1>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <li><%= link_to 'Add New Content', new_likeable_content_path %></li>
  </ul>
<% end %>



<h2>My Content</h2>
<ul>
  <% @content.each do |content| %>
    <li><%= link_to content.title,  likeable_content_path(content) %></li>
  <% end %>
</ul>
